@media(max-width:600px){
    body{
        background-color: aquamarine;
    }
    .card{
        background-color: white;
        height: 400px;
        width: 300px;
        position: relative;
        left: 15px;
        top: 150px;
        border-radius: 25px;
        border-color: red;

    }
    .login{
        position: relative;
        left: 100px;
        top: 50px;
    }
    .l1{
        position: relative;
        top: 50px;
        left: 50px;
    }
    .input1{
        position: relative;
        left: 50px;
        top: 60px;
        width: 200px;
        height: 30px;
        border-radius: 25px;
    }
    .l2{
        position: relative;
        left: 50px;
        top: 80px;
    }
    .input2{
        position: relative;
        left: 50px;
        top: 90px;
        width: 200px;
        height: 30px;
        border-radius: 25px;
    }
    .btn{
        
        background-color: blue;
        position: relative;
        top: 100px;
        left: 50px;
        width: 200px;
        height: 30px;
        border-radius: 25px;
    }
}

